<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../../css/layout.css">
</head>
<body>
<div th:fragment="header">
  <header id="pageHeader">Header</header>
  <article id="mainArticle">Article</article>
  <nav id="mainNav">Nav</nav>
  <div id="siteAds">Ads</div>
</div>
  <!-- Footer -->
  <footer th:fragment="footer">
    <footer id="pageFooter">Footer</footer>
  </footer>
  <!-- END PAGE CONTENT -->
</body>

</html>