<!DOCTYPE HTML>
<html>
<head>
  <title>Thymeleaf Fragments: home</title>
  <meta charset="UTF-8" />
  <link href="/spring-thymeleaf/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
  <div>
    <h1>Thymeleaf Fragments sample</h1>
  </div>
</header>
<p>Go to the next page to see fragments in action</p>
<footer>
  <a href="/templates/fragments">Fragments Index</a> |
  <a href="/templates/markup">Markup inclussion</a> |
  <a href="/templates/params">Fragment params</a> |
  <a href="/templates/other">Other</a>
</footer>
</body>
</html>